site_name: ragbits docs
site_description: Library for fast RAG application development
site_url: https://ragbits.deepsense.ai
repo_name: deepsense-ai/ragbits
repo_url: https://github.com/deepsense-ai/ragbits
copyright: Copyright &copy; 2024 deepsense.ai
nav:
  - ragbits: index.md
  - Quick Start:
      - quickstart/quickstart1_prompts.md
      - quickstart/quickstart2_rag.md
  - How-to Guides:
      - Prompting:
          - "Define and use prompts": how-to/prompts/use_prompting.md
          - "Use images in prompts": how-to/prompts/use_images_in_prompts.md
          - "Manage prompts using GUI": how-to/prompts/prompts_lab.md
          - "Test prompts with promptfoo": how-to/prompts/promptfoo.md
      - LLMs:
        - "Interact with LLMs": how-to/llms/use_llms.md
        - "Use local or self-hosted LLMs": how-to/llms/use_local_llms.md
      - VectorStores:
        - "Use PostgreSQL as a vector store with pgvector": how-to/vector_stores/use_pgVector_store.md
      - Project configuration:
        - "Set preferred components in project": how-to/project/component_preferences.md
        - "Setup tracing": how-to/project/use_tracing.md
      - Document Search:
        - Ingest:
          - Using Strategies:
            - how-to/document_search/ingest/strategies/async_processing.md
            - how-to/document_search/ingest/strategies/distributed_ingestion.md
            - how-to/document_search/ingest/strategies/create_custom_execution_strategy.md
        - how-to/document_search/search_documents.md
        - how-to/document_search/use_rephraser.md
        - how-to/document_search/use_reranker.md
      - Guardrails:
        - "Setup guardrails": how-to/guardrails/use_guardrails.md
      - Evaluate:
          - "Evaluate pipelines": how-to/evaluate/evaluate.md
          - "Create custom evaluation pipeline": how-to/evaluate/custom_evaluation_pipeline.md
          - "Create custom evaluation metric": how-to/evaluate/custom_metric.md
          - "Create custom data loader": how-to/evaluate/custom_dataloader.md
          - "Generate new dataset with LLM": how-to/evaluate/generate_dataset.md
          - "Auto-optimize hyperparameter tuning": how-to/evaluate/optimize.md
  - CLI:
      - cli/main.md
  - API Reference:
      - Core:
          - api_reference/core/prompt.md
          - api_reference/core/llms.md
          - api_reference/core/embeddings.md
          - api_reference/core/vector-stores.md
      - Document Search:
          - api_reference/document_search/index.md
          - api_reference/document_search/documents.md
          - Ingest:
            - api_reference/document_search/processing.md
            - api_reference/document_search/ingest/strategies.md
          - Retrieval:
            - api_reference/document_search/retrieval/rephrasers.md
            - api_reference/document_search/retrieval/rerankers.md
      - Conversations:
          - api_reference/conversations/compressors/base.md
          - api_reference/conversations/compressors/llm.md
      - Guardrails:
          - api_reference/guardrails/index.md
hooks:
  - mkdocs_hooks.py
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: primary
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: primary
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - toc.integrate
    - toc.follow
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - admonition
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - attr_list
  - md_in_html
  - pymdownx.details
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: "#"
  - mkdocs-click
plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            filters:
              - "!^_"
            merge_init_into_class: true
            docstring_section_style: spacy
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: true
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/deepsense-ai
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/deepsense_ai
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/company/deepsense-ai
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@deepsenseai
    - icon: fontawesome/brands/medium
      link: https://medium.com/deepsense-ai
    - icon: fontawesome/solid/globe
      link: https://deepsense.ai
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn
