# Requirements as needed for development for this project.
# ---------------------------------------------------------

# developer tools:
pre-commit
pytest>=6.2.5
pytest-cov
pip-licenses>=4.0.0,<5.0.0
