[project]
name = "ragbits-guardrails"
version = "1.4.0.dev202601310254"
description = "Guardrails module for Ragbits components"
readme = "README.md"
requires-python = ">=3.10"
license = "MIT"
authors = [
    { name = "deepsense.ai", email = "ragbits@deepsense.ai"}
]
keywords = [
    "Retrieval Augmented Generation",
    "RAG",
    "Large Language Models",
    "LLMs",
    "Generative AI",
    "GenAI",
    "Evaluation"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = ["ragbits-core==1.4.0.dev202601310254"]

[project.urls]
"Homepage" = "https://github.com/deepsense-ai/ragbits"
"Bug Reports" = "https://github.com/deepsense-ai/ragbits/issues"
"Documentation" = "https://ragbits.deepsense.ai/"
"Source" = "https://github.com/deepsense-ai/ragbits"

[project.optional-dependencies]
openai = [
    "openai>=1.91.0,<2.0.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/ragbits"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
