[project]
name = "ragbits-document-search"
version = "1.1.0"
description = "Document Search module for Ragbits"
readme = "README.md"
requires-python = ">=3.10"
license = "MIT"
authors = [
    { name = "deepsense.ai", email = "ragbits@deepsense.ai"}
]
keywords = [
    "Retrieval Augmented Generation",
    "RAG",
    "Large Language Models",
    "LLMs",
    "Generative AI",
    "GenAI",
    "Document Search"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = ["docling>=2.15.1,<3.0.0", "opencv-python>=4.11.0.86,<5.0.0.0", "rerankers>=0.6.1,<1.0.0", "filetype>=1.2.0,<2.0.0", "ragbits-core==1.1.0"]

[project.urls]
"Homepage" = "https://github.com/deepsense-ai/ragbits"
"Bug Reports" = "https://github.com/deepsense-ai/ragbits/issues"
"Documentation" = "https://ragbits.deepsense.ai/"
"Source" = "https://github.com/deepsense-ai/ragbits"

[project.optional-dependencies]
unstructured = [
    "unstructured>=0.16.9,<1.0.0",
    "unstructured-client>=0.26.0,<1.0.0",
]
ray = [
    "ray[data]>=2.43.0,<3.0.0",
]

[tool.uv]
dev-dependencies = [
    "pre-commit~=3.8.0",
    "pytest~=8.3.3",
    "pytest-cov~=5.0.0",
    "pytest-asyncio~=0.24.0",
    "pip-licenses>=4.0.0,<5.0.0",
    "ragbits[local]",
]

[tool.uv.sources]
ragbits-core = { workspace = true }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/ragbits"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
