name: Continuous Integration

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  check-changes:
    name: Check for Ragbits Python package changes
    runs-on: ubuntu-latest
    outputs:
      package-changed: ${{ steps.filter.outputs.package-changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for changes
        id: filter
        run: |
          if git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep -E '^(packages|examples)/'; then
            echo "package-changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "package-changed=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Debug output
        run: echo "package-changed=${{ steps.filter.outputs.package-changed }}"

  lints:
    name: Run linters
    if: needs.check-changes.outputs.package-changed == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      checks: write
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: ${{ vars.UV_VERSION || '0.6.9' }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Cache pre-commit
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit checks
        run: |
          uv run pre-commit run --all-files --show-diff-on-failure --color always

      - name: Run ruff formatter
        run: uv run ruff format --check

      - name: Run ruff linter
        run: uv run ruff check --output-format=github

      - name: Run mypy
        run: uv run mypy .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db:2,public.ecr.aws/aquasecurity/trivy-db:2
        with:
          scan-type: "fs"
          ignore-unfixed: true
          exit-code: 0 # change if you want to fail build on vulnerabilities
          severity: "CRITICAL,HIGH,MEDIUM"
          skip-dirs: .venv,.ruff_cache,.mypy_cache
          format: "table"
          output: "trivy-scanning-results.txt"

      - name: Format trivy message
        run: |
          echo "Trivy scanning results." >> trivy.txt
          cat trivy-scanning-results.txt >> trivy.txt

      - name: Add trivy report to PR
        uses: thollander/actions-comment-pull-request@v2
        continue-on-error: true
        if: ${{ github.event_name == 'pull_request' }}
        with:
          filePath: trivy.txt
          reactions: ""
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          comment_tag: trivy

      - name: Check licenses
        run: |
          uv run ./check_licenses.sh

      - name: Check documentation builds correctly
        run: |
          uv run mkdocs build --strict

      - name: Generate pip freeze
        run: |
          uv pip freeze > requirements-freeze.txt

      - name: Publish Artefacts
        uses: actions/upload-artifact@v4
        if: always()
        continue-on-error: true
        with:
          name: results
          path: |
            requirements-freeze.txt
            licenses.txt
            trivy-scanning-results.txt
          retention-days: 30

      - name: Publish Test Report
        uses: actions/upload-artifact@v4
        if: always()
        continue-on-error: true
        with:
          name: test-report
          path: report.xml
          retention-days: 10

      - name: Validate package build
        run: |
          for dir in packages/*/; do uv build "$dir" --out-dir dist; done

      - name: Publish Package
        uses: actions/upload-artifact@v4
        continue-on-error: true
        if: success()
        with:
          name: packages
          path: dist/**
          retention-days: 3

  check-ui-changes:
    name: Check for UI changes
    runs-on: ubuntu-latest
    outputs:
      ui-changed: ${{ steps.filter.outputs.ui-changed }}
    steps:
      - uses: actions/checkout@v4

      - name: Check for changes in ui/
        id: filter
        run: |
          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -E '^(ui)/'; then
            echo "ui-changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "ui-changed=false" >> "$GITHUB_OUTPUT"
          fi

  ui-lints:
    name: Run UI linters
    continue-on-error: false
    runs-on: ubuntu-latest
    if: needs.check-ui-changes.outputs.ui-changed == 'true'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install UI dependencies
        run: npm i
        working-directory: ui

      - name: Run ESLint
        run: npm run lint
        working-directory: ui

      - name: Run Prettier
        run: npm run format -- --check
        working-directory: ui

      - name: Check build
        run: npm run build
        working-directory: ui

      - name: Check Ragbits Chat UI build sync
        run: |
          git diff --quiet || {
            echo "Ragbits chat build not synced"
            exit 1
          }

  changelog-update-checker:
    name: Check Changelog Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify changelog updates
        run: |
          ./.github/scripts/check_changelog_update.sh

  pr-title-checker:
    name: Validate PR title
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  tests:
    name: Run tests
    if: needs.check-changes.outputs.packages-changed == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      checks: write
      pull-requests: write
      contents: write # required for advanced coverage reporting (to keep branch)
    strategy:
      fail-fast: false # do not stop all jobs if one fails
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    services:
      postgres:
        image: pgvector/pgvector:0.8.0-pg17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: tests
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "0.4.20"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache NLTK data
        uses: actions/cache@v3
        with:
          path: ~/nltk_data
          key: nltk-${{ runner.os }}

      - name: Run Tests With Coverage
        run: |
          # run with coverage to not execute tests twice
          uv run coverage run -m pytest --postgresql-password postgres -v -p no:warnings --junitxml=report.xml
          uv run coverage report
          uv run coverage xml

      - name: Test Report
        uses: mikepenz/action-junit-report@v4
        continue-on-error: true
        if: always()
        with:
          report_paths: 'report.xml'

      - name: Publish Test Report
        uses: actions/upload-artifact@v4
        continue-on-error: true
        if: always()
        with:
          name: test-report
          path: report.xml
          retention-days: 10

      # simpler version for code coverage reporting
      # - name: Produce Coverage report
      #   uses: 5monkeys/cobertura-action@v13
      #   continue-on-error: true
      #   with:
      #     path: coverage.xml
      #     minimum_coverage: 70
      #     fail_below_threshold: false

      # more complex version for better coverage reporting
      - name: Produce the coverage report
        uses: insightsengineering/coverage-action@v2
        continue-on-error: true
        with:
          # Path to the Cobertura XML report.
          path: coverage.xml
          # Minimum total coverage, if you want to the
          # workflow to enforce it as a standard.
          # This has no effect if the `fail` arg is set to `false`.
          threshold: 60
          # Fail the workflow if the minimum code coverage
          # reuqirements are not satisfied.
          fail: false
          # Publish the rendered output as a PR comment
          publish: true
          # Create a coverage diff report.
          diff: true
          # Branch to diff against.
          # Compare the current coverage to the coverage
          # determined on this branch.
          diff-branch: ${{ github.event.repository.default_branch }}
          # make report togglable
          togglable-report: true
          # This is where the coverage reports for the
          # `diff-branch` are stored.
          # Branch is created if it doesn't already exist'.
          diff-storage: _xml_coverage_reports
          # A custom title that can be added to the code
          # coverage summary in the PR comment.
          coverage-summary-title: "Code Coverage Summary"
