name: Main branch checks

on:
  push:
    branches:
      - main

jobs:
  check-changelog-update:
    name: Check changelog update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify changelog updates
        run: |
          ./.github/scripts/check_changelog_update.sh

  check-source-changes:
    name: Check source changes
    runs-on: ubuntu-latest
    outputs:
      packages-changed: ${{ steps.filter.outputs.packages-changed }}
      ui-changed: ${{ steps.filter.outputs.ui-changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for changes
        id: filter
        run: |
          changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
          if echo "$changed_files" | grep -qv '^ui/'; then
            echo "packages-changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "packages-changed=false" >> "$GITHUB_OUTPUT"
          fi
          if echo "$changed_files" | grep -q '^ui/'; then
            echo "ui-changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "ui-changed=false" >> "$GITHUB_OUTPUT"
          fi

  packages:
    name: Packages checks
    needs: check-source-changes
    if: ${{ needs.check-source-changes.outputs.packages-changed == 'true' }}
    uses: ./.github/workflows/shared-packages.yml

  ui:
    name: UI checks
    needs: check-source-changes
    if: ${{ needs.check-source-changes.outputs.ui-changed == 'true' }}
    uses: ./.github/workflows/shared-ui.yml
