name: Pull request checks

on:
  pull_request:

jobs:
  check-changelog-update:
    name: Check changelog update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify changelog updates
        run: |
          ./.github/scripts/check_changelog_update.sh

  check-pr-title:
    name: Check pull request title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  check-source-changes:
    name: Check source changes
    runs-on: ubuntu-latest
    outputs:
      packages-changed: ${{ steps.filter.outputs.packages-changed }}
      ui-changed: ${{ steps.filter.outputs.ui-changed }}
      modules-changed: ${{ steps.filter.outputs.modules-changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for changes
        id: filter
        run: |
          ./.github/scripts/check_source_changes.sh ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}

  packages:
    needs: check-source-changes
    if: ${{ needs.check-source-changes.outputs.packages-changed == 'true' }}
    uses: ./.github/workflows/shared-packages.yml

  modules:
    needs: check-source-changes
    if: ${{ needs.check-source-changes.outputs.modules-changed == 'true' }}
    uses: ./.github/workflows/shared-modules.yml

  ui:
    needs: check-source-changes
    if: ${{ needs.check-source-changes.outputs.ui-changed == 'true' }}
    uses: ./.github/workflows/shared-ui.yml
