[project]
name = "ragbits"
version = "1.4.0.dev202601310254"
description = "Building blocks for rapid development of GenAI applications"
dynamic = ["readme"]
requires-python = ">=3.10"
license = "MIT"
authors = [
    { name = "deepsense.ai", email = "ragbits@deepsense.ai"}
]
keywords = [
    "Retrieval Augmented Generation",
    "RAG",
    "Large Language Models",
    "LLMs",
    "Generative AI",
    "GenAI",
    "Prompt Management"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = ["ragbits-agents==1.4.0.dev202601310254", "ragbits-document-search==1.4.0.dev202601310254", "ragbits-cli==1.4.0.dev202601310254", "ragbits-evaluate==1.4.0.dev202601310254", "ragbits-guardrails==1.4.0.dev202601310254", "ragbits-chat==1.4.0.dev202601310254", "ragbits-core==1.4.0.dev202601310254"]

[project.urls]
"Homepage" = "https://github.com/deepsense-ai/ragbits"
"Bug Reports" = "https://github.com/deepsense-ai/ragbits/issues"
"Documentation" = "https://ragbits.deepsense.ai/"
"Source" = "https://github.com/deepsense-ai/ragbits"

[project.optional-dependencies]
chroma = [
    "ragbits-core[chroma]==1.4.0.dev202601310254",
]
hf = [
    "ragbits-core[hf]==1.4.0.dev202601310254",
]
s3 = [
    "ragbits-core[s3]==1.4.0.dev202601310254",
]
gcs = [
    "ragbits-core[gcs]==1.4.0.dev202601310254"
]
azure=[
    "ragbits-core[azure]==1.4.0.dev202601310254",
]
local = [
    "ragbits-core[local]==1.4.0.dev202601310254",
]
openai = [
    "ragbits-guardrails[openai]==1.4.0.dev202601310254",
]
otel = [
    "ragbits-core[otel]==1.4.0.dev202601310254",
]
logfire = [
    "ragbits-core[logfire]==1.4.0.dev202601310254",
]
promptfoo = [
    "ragbits-core[promptfoo]==1.4.0.dev202601310254",
]
qdrant = [
    "ragbits-core[qdrant]==1.4.0.dev202601310254",
]
relari = [
    "ragbits-evaluate[relari]==1.4.0.dev202601310254",
]
fastembed = [
    "ragbits-core[fastembed]==1.4.0.dev202601310254"
]
fastembed-gpu = [
    "ragbits-core[fastembed-gpu]==1.4.0.dev202601310254",
]
pgvector = [
    "ragbits-core[pgvector]==1.4.0.dev202601310254",
]
ray = ["ragbits-document-search[ray]==1.4.0.dev202601310254"]
unstructured = [
    "ragbits-document-search[unstructured]==1.4.0.dev202601310254",
]
sql = [
    "ragbits-chat[sql]==1.4.0.dev202601310254",
]
a2a = [
    "ragbits-agents[a2a]==1.4.0.dev202601310254",
]
mcp = [
    "ragbits-agents[mcp]==1.4.0.dev202601310254",
]
weaviate = [
    "ragbits-core[weaviate]==1.4.0.dev202601310254",
]
google_drive = [
    "ragbits-core[google_drive]==1.4.0.dev202601310254"
]
cli = [
    "ragbits-agents[cli]==1.4.0.dev202601310254",
]

[build-system]
requires = ["hatchling", "hatch-fancy-pypi-readme"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.metadata.hooks.fancy-pypi-readme]
content-type = "text/markdown"

[[tool.hatch.metadata.hooks.fancy-pypi-readme.fragments]]
path = "../../README.md"

[tool.hatch.build.targets.wheel]
packages = ["src/ragbits"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
